.container {
  /* Media query for mobile devices */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.containerReverse {
  flex-direction: column-reverse;
}

/* Media query for screens smaller than or equal to 768px width (typical tablets and mobile devices) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    flex-direction: row-reverse;
  }
  .containerReverse {
    flex-direction: row;
  }
}

/* Media query for screens larger than 1024px width (typical large desktops) */
@media (min-width: 1025px) {
  .container {
    flex-direction: row;
  }
}
